* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.weekly-items {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #EEE;
    max-width: 40vh;
}

.weekly-items .number {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
}

.weekly-items .infor {
    font-size: 14px;
    flex-grow: 1;
}

.weekly-items.sont-title {
    margin-bottom: 8px;
}

.weekly-items .singer {
    font-size: 13px;
    color: #999;
}

.weekly-items .view-count {
    font-size: 12px;
}

.image-list {
    display: flex;
}

.image-list .album-cover {
    width: 128px;
    height: 128px;
    background-image: url('./pic1.jpg');
    background-size: cover;
    background-position: top;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.image-list .album-cover .overlay {
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.46262254901960786) 0%, rgba(255, 255, 255, 0) 73%);
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.image-list .img-infor {
    padding: 0 10px;
    line-height: 1.4;
}

.image-list .img-infor .singer-name {
    font-weight: bold;
    font-size: 14px;
    color: rgb(124, 124, 124);
}

.image-list .img-infor .img-view {
    font-size: 13px;
}

.album-square {
    width: 128px;
    height: 128px;
    background-image: url('./pic2.png');
    background-size: cover;
    background-position: top;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.album-square .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.album-square .overlay i {
    transform: scale(0);
}

.album-square:hover .overlay i{
    transform: scale(1);
    transition-duration: 1s;
}

.album-square:hover .overlay {
    opacity: 1;
    transition-duration: 0.5s;
}

.menu {
    display: flex;
    padding: 0;
    list-style: none;
    background-color: black;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu li {
    padding: 8px 16px;
}

.menu li:hover {
    background-color: rgb(82, 82, 82);
    transition-duration: 0.2s;
}

.has-submenu {
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu {
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: rgb(36, 36, 36);
    color: white;
    font-weight: bold;
    display: none;
    left: 0;
    top: 100%;
}